<div class="box_row1">
  	 <div class="box1">
        <p class="subtitle">Income tax cut for 25 million</p>
        <p class="subtext"><%= lorem.sentence %></p>
        <div class="box_image"><%= image_tag "#" %></div>
      </div>
      <div class="box2">
          <p class="subtitle">Immigration Down</p>
          <p class="subtext"><%= lorem.sentence %></p>
        <div class="box_image"><%= image_tag "#" %></div>
      </div>
      <div class="box3">
        <p class="subtitle">Crime Down 10%</p>
        <p class="subtext"><%= lorem.sentence %></p>
        <div class="box_image"><%= image_tag "#" %></div>
      </div>
</div>

<div class="box_row2">
      <div class="box4">
        <p class="subtitle">1.4 million more private sector jobs</p>
        <p class="subtext"><%= lorem.sentence %></p>
        <div class="box_image"><%= image_tag "#" %></div>
      </div>
      <div class="box5">
        <p class="subtitle">Deficit cut by 1/3</p>
        <p class="subtext"><%= lorem.sentence %></p>
        <div class="box_image"><%= image_tag "#" %></div>
      </div>
      <div class="box6">
        <p class="subtitle">Benefits capped/unlimited benefits under labour</p>
        <p class="subtext"><%= lorem.sentence %></p>
        <div class="box_image"><%= image_tag "#" %></div>
      </div>
</div>