<div class="six_box_wrapper home">
  <div class="box1">
    <div class="box_contents first">
      <div class="box_title_wrapper">
        <h2 class="subtitle">david cameron</h2>
      </div>
      <div class="box_image">
        <%= image_tag 'small-island-britain-speech.png', :class => 'david_speech' %>
      </div>
      <div class="box_footer">
        <div class="box_footer_left">
          <%= image_tag 'facebook-box.png', :class => 'fb_box' %>
          <%= image_tag 'twitter-box.png', :class => 'tw_box' %>
          <%= image_tag 'google-box.png', :class => 'go_box' %>
        </div>
        <div class="button">
          <%= link_to "#{image_tag("readmore.png")}","/yourteam.html" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box2">
    <div class="box_contents second">
      <div class="box_title_wrapper">
        <h2 class="subtitle">your local team</h2>
      </div>
      <div class="box_image">
        <%= image_tag 'small-island-britain-speech.png', :class => 'david_speech' %>
      </div>
      <div class="box_footer">
        <div class="box_footer_left">
        </div>
        <div class="button">
          <%= link_to "#{image_tag("search.png")}","/yourteam.html" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box3">
    <div class="box_contents third">
      <div class="box_title_wrapper">
        <h2 class="subtitle">campaign</h2>
      </div>
      <div class="box_image">
        <%= image_tag 'small-island-britain-speech.png', :class => 'david_speech' %>
      </div>
      <div class="box_footer">
        <div class="box_footer_left">
          <p>be part of the campaign – sign up for updates</p>
        </div>
        <div class="button">
          <%= link_to "#{image_tag("getgoing.png")}","/yourteam.html" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box4">
    <div class="box_contents fourth">
      <div class="box_title_wrapper">
        <h2 class="subtitle">become a supporter/join</h2>
      </div>
      <div class="box_image box_background">
       
        <p>support our plans for hardworking people.</p>
        <p>Become a supporter of the Party for as little as £1.</p>
      </div>
      <div class="box_footer">
        <div class="box_footer_left">
          <p>Join the campaign today</p>
        </div>
        <div class="button">
          <%= link_to "#{image_tag("join.png")}","/yourteam.html" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box5">
    <div class="box_contents fith">
      <div class="box_title_wrapper">
        <h2 class="subtitle">volunteer with a team 2015</h2>
      </div>
      <div class="box_image">
        <%= image_tag 'small-island-britain-speech.png', :class => 'david_speech' %>
      </div>
      <div class="box_footer">
        <div class="box_footer_left">
          <p>Help us win the next election</p>
        </div>
        <div class="button">
          <%= link_to "#{image_tag("signup.png")}","/yourteam.html" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box6">
    <div class="box_contents sixth">
      <div class="box_title_wrapper">
        <h2 class="subtitle">donate</h2>
      </div>
      <div class="box_image">
        <%= image_tag 'small-island-britain-speech.png', :class => 'david_speech' %>
      </div>
      <div class="box_footer">
        <div class="box_footer_left">
          <p>Every donation makes a difference</p>
        </div>
        <div class="button">
          <%= link_to "#{image_tag("donate.png")}","/yourteam.html" %>
        </div>
      </div>
    </div>
  </div>

  
</div>