<div class="six_box_wrapper home">
  <div class="box1">
    <div class="box_contents first">
      <h2 class="subtitle">David Cameron</h2>
      <p class="subtext"><%= lorem.sentence %></p>
      <div class="box_image">
        <%= link_to "#{image_tag("")}", "" %>
      </div>
      <div class="button">
        <%= link_to "#{image_tag("")}","/davidcameron.html" %>
      </div>
      <div class="facebook_icon home_dc1">
        <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
      </div>

      <div class="twitter_icon home_dc2">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="conservatives">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </div>

  <div class="box2">
    <div class="box_contents second">
      <div class="local_team">
        <h2 class="subtitle">Your Local Team</h2>
        <p class="subtext">Enter your postcode to find out more about your local team</p>
      </div>
       <!-- TEMP DIV FOR FORM -->
      <div style="background-color: #eeeeee; height: 36px; margin-top: 120px;">
      </div>
      <div class="button">
        <%= link_to "#{image_tag("")}","/yourteam.html" %>
      </div>
    </div>
  </div>

  <div class="box3">
    <div class="box_contents third">
      <h2 class="subtitle">Campaign Online</h2>
      <p class="subtext"><%= lorem.sentence %></p>
      <div class="box_image">
        <%= link_to "#{image_tag("")}", "" %>
      </div>
      <div class="button">
        <%= link_to "#{image_tag("")}","/campaigns.html" %>
      </div>
    </div>
  </div>

  <div class="box4">
    <div class="box_contents fourth">
      <h2 class="subtitle">Become a supporter/join the party</h2>
      <p class="subtext"><%= lorem.sentence %></p>
      <div class="box_image">
        <%= link_to "#{image_tag("")}", "" %>
      </div>
      <div class="button">
        <%= link_to "#{image_tag("")}","/join.html" %>
      </div>
    </div>
  </div>

  <div class="box5">
    <div class="box_contents fifth">
      <h2 class="subtitle">Volunteer with Team 2015</h2>
      <p class="subtext"><%= lorem.sentence %></p>
      <div class="box_image">
        <%= link_to "#{image_tag("")}", "" %>
      </div>
      <div class="button">
        <%= link_to "#{image_tag("")}","/volunteer.html" %>
      </div>
    </div>
  </div>

  <div class="box6">
    <div class="box_contents sixth">
      <h2 class="subtitle">Donate</h2>
      <p class="subtext"><%= lorem.sentence %></p>

      <div class="button">
        <%= link_to "#{image_tag("")}","/donate.html" %>
      </div>
    </div>
  </div>
</div>