---
facebook_url: "https://conservatives.com"
title: Campaigns
---


<%= partial "signup" %>

<div class="campaigns_top">
	<h2 class="subtitle">What we've done</h2>
	<div class="subtitle seven_pages1">
		<%= link_to "Let Britain decide", "#"%>
	</div>
	<div class="subtitle seven_pages2">
		<%= link_to "Reducing Crime", "#"%>
	</div>
	<div class="subtitle seven_pages3">
		<%= link_to "Cost of labour", "#"%>
	</div>
	<div class="subtitle seven_pages4">
		<%= link_to "Cutting the deficit", "#"%>
	</div>
	<div class="subtitle seven_pages5">
		<%= link_to "For hardworking people", "#"%>
	</div>
	<div class="subtitle seven_pages6">
		<%= link_to "Small business campaigns", "#"%>
	</div>
</div>

<div class="campaigns_uppermiddle">

	<h2 class="subtitle">#Sharethefacts</h2>
	<div class="sharethefacts_image">
		 <%= link_to "#{image_tag("")}","http://sharethefacts.conservatives.com" %>
	</div>
	<div class="button">
        <%= link_to "#{image_tag("")}","http://sharethefacts.conservatives.com" %>
    </div>
	
</div>


<div class="campaigns_lowermiddle">
	<h2 class="subtitle">Infographics</h2>
	<div class="infographic1">
		 <%= link_to "#{image_tag("")}","" %>
		<div class="share_infographics">
		  	<div class="facebook_icon social_infographic1">
		  		<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
		  	</div>

		  	<div class="twitter_icon social_infographic2">
		  		<a href="https://twitter.com/share" class="twitter-share-button" data-via="conservatives">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		  	</div>
		</div>
	</div>
	<div class="infographic2">
		 <%= link_to "#{image_tag("")}","" %>
		<div class="share_infographics">
		  	<div class="facebook_icon social_infographic1">
		  		<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
		  	</div>

		  	<div class="twitter_icon social_infographic2">
		  		<a href="https://twitter.com/share" class="twitter-share-button" data-via="conservatives">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		  	</div>
		</div>
	</div>
	<div class="infographic3">
		 <%= link_to "#{image_tag("")}","" %>
		<div class="share_infographics">
		  	<div class="facebook_icon social_infographic1">
		  		<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
		  	</div>

		  	<div class="twitter_icon social_infographic2">
		  		<a href="https://twitter.com/share" class="twitter-share-button" data-via="conservatives">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		  	</div>
		</div>
	</div>
</div>


<div class="campaigns_bottom">
	<h2 class="subtitle">Videos</h2>
	<div class="video1">
	</div>
	<div class="video2">
	</div>
	<div class="video3">
	</div>
	<div class="button">
        <%= link_to "#{image_tag("")}","#" %>
    </div>
</div>




<%= partial "share_this_page" %>