---
facebook_url: "https://conservatives.com"
title: Donate
---

<%= partial "signup" %>
<div class="donate">
	<h2 class="subtitle">Make a donation</h2>
	<p> <%= lorem.sentence %> </p>

	<h2 class="subtitle">Payment Method</h2>
	<p> <%= lorem.sentence %> </p>
	<div class="button">
       <%= link_to "#{image_tag("")}","#" %>
    </div>
</div>
<%= partial "share_this_page" %>