---
facebook_url: "https://conservatives.com"
title: 
---

<!-- *************CAROUSEL*************** -->
<div class="carousel">

	<div class="carousel_left">
		<h2 class="subtitle">A tax cut for 25M people</h2>
		<div class="carousel_text">
			<p>
			<%= lorem.paragraph %>
			</p>
		</div>
		<p class="subtitle carousel_prompt">See how the tax cut will affect you</p>
		<div class="button large_button" id="home_button">
    		<%= link_to "#{image_tag("")}", "" %>
		</div>
	</div>

	<div class="carousel_right">
		<div class="carousel_image">
			<%= link_to "#{image_tag("")}", "" %>
		</div>
	</div>
</div>
<!-- *************CAROUSEL*************** -->

<!-- *************SIGNUP*************** -->
<%= partial "signup" %>
<!-- *************SIGNUP*************** -->

<!-- *************SIX BOXES*************** -->
<%= partial "six_box_home" %>
<!-- *************SIX BOXES*************** -->

