---
facebook_url: "https://conservatives.com"
title: 
---

<!-- *************CAROUSEL*************** -->
<div class="carousel">

	<p class="subtitle">A tax cut for 25M people</p>
	<div class="carousel_left">
		<div class="carousel_image">
			<%= link_to "#{image_tag("")}", "" %>
		</div>
	</div>

	<div class="carousel_right">
		<div class="carousel_text">
			<p>
			<%= lorem.paragraph %>
			</p>
		</div>
		<p class="subtitle carousel_prompt">See how the tax cut will affect you</p>
		<div class="button large_button">
    		<%= link_to "#{image_tag("")}", "" %>
		</div>
	</div>

</div>
<!-- *************CAROUSEL*************** -->

<!-- *************SIGNUP*************** -->
<%= partial "signup" %>
<!-- *************SIGNUP*************** -->

<!-- *************SIX BOXES*************** -->
<%= partial "six_box_home" %>
<!-- *************SIX BOXES*************** -->

<div class="sharethefacts_home">
	<p class="subtitle">#Share<span class="the">the</span>facts</p>
	<p class="subtitle">Number of UK Businesses Reaches Record High</p>
	<p>The number of businesses in the UK has reached a record high, having increased by 400,000 over the last three years.</p>
	<p class="bottom_home_share">Official figures published today show that there are now 100,000 more businesses than this time last year, bringing the total number of UK businesses to 4.9 million - a new record.</p>
  	<div class="button">
        <%= link_to "#{image_tag("")}","http://sharethefacts.conservatives.com" %>
    </div>
</div>

